.body1 {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.title1 {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #000000;
    font-family: 'Overpass', sans-serif;
    position: relative;
    margin: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: center;
    height: 225px;
    width: 225px;
}

.roomOne, .roomTwo, .roomThree, .roomFour, .roomFive, .roomSix {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    background-color: lightblue;
    position: relative;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    margin: 8px;
    width: 200px;
    height: auto;
    border: 2px solid rgb(117, 117, 117);
}

.textRoomOne, .textRoomTwo, .textRoomThree, .textRoomFour, .textRoomFive, .textRoomSix {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.logs {
    font-family: 'Overpass', sans-serif;
    position: relative;
}

.logsTitle {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;    
    text-decoration: underline;
    margin-bottom: 10px;
}

.roomsContainer {
    /* border: 3px solid black; */
    text-align: center;
    justify-content: center;
}

.welcomeText {
    text-align: center;
    font-family: "Overpass", "sans-serif";
    font-size: 24px;
    text-decoration: underline;
}

.subtitleText {
    text-align: center;
    font-family: "Overpass", "sans-serif";
    font-size: 24px;
}

button {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
}

#roomOneEnter, #unlockButton, #roomTwoEnter, #unlockButtonTwo, #roomThreeEnter, #unlockButtonThree, #roomFourEnter, #unlockButtonFour, #roomFiveEnter, #unlockButtonFive, #roomSixEnter, #unlockButtonSix {
    margin-bottom: 5px;
}

#removeButton, #removeButtonTwo, #removeButtonThree, #removeButtonFour, #removeButtonFive, #removeButtonSix {
    margin-bottom: 20px;
}

button:hover {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
}

@keyframes fadeIn {
    0% {
        background-color: white;
    } 
    100% {
        background-color: rgb(230, 230, 230);
    }
}